<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/new.css">
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          placeholder="Title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          placeholder="Location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">LKR</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          placeholder="Description" required></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <br>
        <div class="input-group custom-file mb-3">
          <input type="file" class="form-control custom-file-label" id="inputGroupFile02" name="image" multiple>
          <!-- <label class="input-group-text custom-file-label" for="inputGroupFile02"></label> -->
        </div>
        <!-- <input type="file" name="image" id="" multiple> -->
        <!-- <input
          type="text"
          class="form-control"
          id="image"
          name="campground[image]"
          placeholder="Image Url"
          required
        /> -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn" id="addCamp">Add Campground</button>
      </div>
      <a href="/campgrounds" class="btn" id="backCamp">All Campgrounds</a>
    </form>
  </div>
</div>



