body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn{
    background-color: #ff9914;
    color: black;
    border-radius: 999px;
}

h1{
    color: white;
}

#card{
    border: none;
    border-radius: 30px;
}

.img-fluid{
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}